<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <!--<add name="ElGrafico_DesaConnection" connectionString="data source=SALUD-PC\DESA;initial catalog=ElGrafico;integrated security=True" providerName="System.Data.SqlClient" />-->
        <add name="ElGrafico_DesaConnection" connectionString="data source=LUCHITO-PC\CUOTASYSTEM;initial catalog=ElGrafico_Desa;user id=sa;password=zapala76" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>